{% extends'::base.html.twig' %}




{% block stylesheets %}
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.3/dojo/dojo.js" data-dojo-config="async: true"></script>
    <!-- Custom styles for this template -->
    <link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

{% endblock %}


{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



{% endblock %}



{% block body %}

<!-- Some HTML codes by Anon -Bootstrap v.2.3.2. portfolio/products category example - from http://www.bootply.com/dkEQmm8zJC-->
<!-- Some HTML codes by Lynx -"Simple User Profile " - from http://bootsnipp.com/snippets/featured/simple-user-profile-->


    <div class="header">
        <div class="container">
            <div class="row" style="margin-top: 20px">

                <div class="col-xs-3 col-sm-3 toppad">


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-family: cursive; font-size: large">Multichoice Quiz Stat</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">


                                <div class=" col-md-12 col-lg-12 ">

			                       <p id="pie_chart1" style="width: 200px; height: 190px;"></p>
                                   <p style="width: 10px; height: 10px; background:  #F62817;"></p>Correct Answers
                                   <p style="width: 10px; height: 10px; background:  #16E2F5;"></p>Incorrect Answers


                                </div>
                            </div>
                        </div>
                        <!--<div class="panel-footer"></div>-->
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 toppad">


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-family: cursive; font-size: large">True/False Quiz Stat </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">


                                <div class=" col-md-12 col-lg-12 ">
                                    <p id="pie_chart2" style="width: 200px; height: 190px;"></p>
                                    <p style="width: 10px; height: 10px; background:  #16E2F5;"></p>Correct Answers
                                    <p style="width: 10px; height: 10px; background:  #F62817;"></p>Incorrect Answers

                                </div>
                            </div>
                        </div>
                        <!--<div class="panel-footer"></div>-->
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 toppad">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-family: cursive; font-size: large">{{ entity.fullname }}: Great to have you
                                back! </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div  class="col-md-3 col-lg-3 " align="center">Activity</div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Total Quizzes: {{ total_quiz }}</td>
                                        </tr>
                                        <tr>


                                            <td id="column_chart" style="width: 400px; height: 200px;">

                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                        <!--<div class="panel-footer"></div>-->
                    </div>
                </div>
            </div>


            </div>

            <hr/>
        </div>


        <div class="container">

            <div class="row">
                <h3 class="centered"> Multiple-choice Questions</h3>

                <ul class="thumbnails list-unstyled">
                    {% for quizgd in quizGd %}


    <li class="col-md-3">
        <div class="thumbnail" style="padding: 0">

            <div class="caption">

                <p>
                    <span class="glyphicon glyphicon-blackboard"> </span> {{ quizgd.quizName|slice(0,25) }}
                </p>


                <p><span class="glyphicon glyphicon-book"> </span> {{ quizgd.question|slice(0,25) }}
                    ...</p>

            </div>
            <div class="modal-footer" style="text-align: left">

                <div class="row">
                    <div class="col-md-3" title="view"><a
                                href="{{ path('profile_graded',{id:quizgd.id}) }}" class="btn"><span
                                    class="glyphicon  glyphicon-eye-open"></span></a></div>
                    <div class="col-md-3" title="edit"><a
                                href="{{ path('graded_edit',{id:quizgd.id}) }}" class="btn"><span
                                    class="glyphicon  glyphicon-pencil"></span></a></div>
                    <div class="col-md-3" title="delete"><a
                                href="{{ path ('quiz_delete',{id:quizgd.id}) }}" class="btn"><span
                                    class="glyphicon  glyphicon-trash"></span></a></div>
                    <div class="col-md-3" title="stats">
                        <a data-toggle="modal" data-target="#gdResult{{ quizgd.id }}"
                           href="{{ path ('result_graded',{id:quizgd.id}) }}" class="btn"><span
                                    class="glyphicon glyphicon-signal"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <div class="modal fade" id="gdResult{{ quizgd.id }}" tabindex="-1" role="dialog"
         aria-labelledby="gdResult"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><b>Loading result......</b></h4>
                </div>
                <div class="modal-body ">

                </div>
            </div>
        </div>
    </div>


{% endfor %}
                </ul>
            </div>

            <div class="row">
                <hr/>
                <h3 class="centered"> Open-ended Questions</h3>
                <ul class="thumbnails list-unstyled">
                    {% for quizoc in quizOc %}


    <li class="col-md-3">
        <div class="thumbnail" style="padding: 0">

            <div class="caption">

                <p>
                    <span class="glyphicon glyphicon-blackboard"> </span> {{ quizoc.quizName|slice(0,25) }}
                </p>


                <p><span class="glyphicon glyphicon-book"></span> {{ quizoc.question|slice(0,25) }}
                    ...</p>

            </div>
            <div class="modal-footer" style="text-align: left">

                <div class="row">
                    <div class="col-md-3" title="view"><a
                                href="{{ path('profile_outcome',{id:quizoc.id}) }}"
                                class="btn"><span
                                    class="glyphicon  glyphicon-eye-open"></span></a></div>
                    <div class="col-md-3" title="edit"><a
                                href="{{ path('oc_edit',{id:quizoc.id}) }}" class="btn"><span
                                    class="glyphicon  glyphicon-pencil"></span></a></div>
                    <div class="col-md-3" title="delete"><a
                                href="{{ path ('quiz_delete',{id:quizoc.id}) }}" class="btn"><span
                                    class="glyphicon glyphicon-trash"></span></a></div>
                    <div class="col-md-3" title="stats"><a
                                data-toggle="modal" data-target="#ocResult{{ quizoc.id }}"
                                class="btn" href="{{ path ('result_oc',{id:quizoc.id}) }}">
                            <span class="glyphicon glyphicon-signal"></span></a></div>
                </div>
            </div>
        </div>
    </li>

    <div class="modal fade" id="ocResult{{ quizoc.id }}" tabindex="-1" role="dialog"
         aria-labelledby="ocResult"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><b>Loading result......</b></h4>
                </div>
                <div class="modal-body ">

                </div>
            </div>
        </div>
    </div>
{% endfor %}
                </ul>

            </div>

            <div class="row">
                <hr/>
                <h3 class="centered"> True/False Questions</h3>
                <ul class="thumbnails list-unstyled">
                    {% for quiztf in quizTf %}


    <li class="col-md-3">
        <div class="thumbnail" style="padding: 0">

            <div class="caption">

                <p>
                    <span class="glyphicon glyphicon-blackboard"></span> {{ quiztf.quizName|slice(0,25) }}
                </p>


                <p><span class="glyphicon glyphicon-book"></span> {{ quiztf.question|slice(0,25) }}
                    ...</p>

            </div>
            <div class="modal-footer" style="text-align: left">

                <div class="row">
                    <div class="col-md-3" title="view"><a class="btn"
                                                          href="{{ path('profile_tf',{id:quiztf.id}) }}"><span
                                    class="glyphicon  glyphicon-eye-open"></span></a></div>
                    <div class="col-md-3" title="edit"><a
                                href="{{ path('tf_edit',{id:quiztf.id}) }}" class="btn"><span
                                    class="glyphicon  glyphicon-pencil"></span></a></div>
                    <div class="col-md-3" title="delete"><a class="btn"
                                                            href="{{ path ('quiz_delete',{id:quiztf.id}) }}"><span
                                    class="glyphicon  glyphicon-trash"></span></a></div>
                    <div class="col-md-3" title="stats"><a data-toggle="modal"
                                                           data-target="#tfResult{{ quiztf.id }}"
                                                           href="{{ path ('result_tf',{id:quiztf.id}) }}"
                                                           class="btn"><span
                                    class="glyphicon glyphicon-signal"></span></a></div>
                </div>
            </div>
        </div>
    </li>

    <div class="modal fade" id="tfResult{{ quiztf.id }}" tabindex="-1" role="dialog"
         aria-labelledby="tfResult"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><b>Loading result......</b></h4>
                </div>
                <div class="modal-body ">

                </div>
            </div>
        </div>
    </div>
{% endfor %}
                </ul>

            </div>


        </div>

    </div>



    <script>
        require([
                    "dojox/charting/Chart",
                    "dojox/charting/plot2d/Columns",
                    "dojox/charting/themes/MiamiNice",
                    // Require the highlighter
                    "dojox/charting/action2d/Highlight",
                    "dojox/charting/axis2d/Default",
                    //    We want to use Markers
                    "dojox/charting/plot2d/Markers",
                    "dojo/domReady!"

                ],
                function(Chart, Colunms, theme, Highlight) {

                    // Define the data
                    var chartData = [{{ apr }}, {{ aug }}, {{ dec }}];

                    var chart = new Chart("column_chart");
                    chart.addPlot("default", {type: "Columns", gap: 12});
                    chart.addAxis("x", {
                        labels: [
                            {value: 1, text: "Jan - Apr"}, {value: 2, text: "May - Aug"},
                            {value: 3, text: "Sep - Dec"}]
                    });
                    chart.addAxis("y", {vertical: true, leftBottom: true, min: 0});
                    chart.addSeries("Series 1", chartData,
                            {plot: "default", stroke: {color: "#466C89", width: 1}, fill: "#FF9900"});
                    // Highlight!
                    new Highlight(chart, "default");

                    chart.setTheme(theme);
                    chart.render();
                });
        require([
                    "dojox/charting/Chart",
                    "dojox/charting/plot2d/Pie",
                    "dojox/charting/action2d/MoveSlice",
                    "dojox/charting/themes/MiamiNice",
                    "dojox/charting/axis2d/Default",
                    "dojox/charting/action2d/Tooltip",
                    "dojox/charting/action2d/Magnify",
                    "dojo/domReady!"
                ],
        function gradedChart  (Chart, Default, Pie, theme, MoveSlice,Tooltip) {
            var chart = new Chart("pie_chart1");
            chart.addPlot("default", {type: "Pie",radius: 80});

            chart.addSeries("Series A", [
                {y: {{ attribute(gdStat, 1) }},color:"#F62817",fontColor:"white"},
                {y: {{ attribute(gdStat, 0) }},color:"#16E2F5", fontColor:"white"}

            ]);

            // Create the tooltip
            var tip = new dojox.charting.action2d.Tooltip(chart,"default");
            var mag1 = new dojox.charting.action2d.MoveSlice(chart, "default");



            // Create the magnifier
           // var mag = new Magnify(chart,"default");
            chart.setTheme(theme);
            chart.render();
        });

        require([
                    "dojox/charting/Chart",
                    "dojox/charting/plot2d/Pie",
                    "dojox/charting/action2d/MoveSlice",
                    "dojox/charting/themes/MiamiNice",
                    "dojox/charting/axis2d/Default",
                    "dojox/charting/action2d/Tooltip",
                    "dojox/charting/action2d/Magnify",
                    "dojo/domReady!"
                ],
        function tfChart (Chart, Default, Pie, theme, MoveSlice,Tooltip) {
            var chart = new Chart("pie_chart2");
            chart.addPlot("default", {type: "Pie",radius: 80});

            chart.addSeries("Series A", [
                {y: {{ attribute(tfStat, 0) }},color:"#F62817",fontColor:"white"},
                {y: {{ attribute(tfStat, 1) }},color:"#16E2F5", fontColor:"white"}

            ]);


            // Create the tooltip
            var tip = new dojox.charting.action2d.Tooltip(chart,"default");
            var mag1 = new dojox.charting.action2d.MoveSlice(chart, "default");



            // Create the magnifier
           // var mag = new Magnify(chart,"default");
            chart.setTheme(theme);
            chart.render();
        });

    </script>


{% endblock %}








